<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrap New Data</a></p>
    </div>

    <!-- Mars Page -->
    
    <div class="row" id="latest news">
      <div class="col-md-12">
        <p><h2>Latest Mars News</h2></p>
        <br/>
        <p><h4 class="heading">{{nasa_scraped_data.news_title}}</h4></p>
        <p>{{nasa_scraped_data.news_p}}</p>        
      </div>
    </div>

    <div class="row" id="image weather facts">
        <div class="col-md-12">
          <p><h2>Featured Mars Image</h2></p>
          </div>
          </div>
         
    <div class="row" id="image weather facts">
      <div class="col-md-8">
        <p><img class="img-fluid" src="{{nasa_scraped_data.featured_image_url | default('static/images/error.png', true)}}" alt="Mars Featured Image" width="100%"></p>
      </div>

      <div  class="col-md-4">
          <br/>
      <div class="row" id="mars-weather">
      <div class="col-md-12">
       <div style="border: 2px; border-style: solid; color:gray">
        <p><h4>Current Weather on Mars</h4></p>
        <p>{{nasa_scraped_data.mars_weather}}</p>
       </div>
      </div>
      </div>
      <div>
            <br/>
        <div class="row" id="mars-facts">
          <div class="col-md-12">
        <p><h4>Mars Facts</h4></p>
        <p>{{nasa_scraped_data.html_facts_table | safe}}</p>       
      </div> 
      </div>

    </div>
    </div>
    </div>

<!-- Mars Hemispheres -->

<div class="row" id="mars-hemispheres">

    <div class="page-header">
      <h2 class="text-center">Mars Hemispheres</h2>
    </div>

    {% for hemisphere in nasa_scraped_data.hemisphere_image_urls %}
      <div class="col-md-6">
          <div class="thumbnail">

          <!-- if images is False/None/non-existent, then default to error message -->
          <img src="{{hemisphere.img_url}}" width="85%" height="85%">
          <div class="caption">
              <h4>{{hemisphere.title}}</h4>
          </div>
          </div>
      </div>
    {% endfor %}

    

  </div>
   
    </div>
  
</body>

</html>